cache/*
db/*
api-ms-win-core-console-l1-1-0.dll
api-ms-win-core-console-l1-2-0.dll
api-ms-win-core-datetime-l1-1-0.dll
api-ms-win-core-debug-l1-1-0.dll
api-ms-win-core-errorhandling-l1-1-0.dll
api-ms-win-core-fibers-l1-1-0.dll
api-ms-win-core-file-l1-1-0.dll
api-ms-win-core-file-l1-2-0.dll
api-ms-win-core-file-l2-1-0.dll
api-ms-win-core-handle-l1-1-0.dll
api-ms-win-core-heap-l1-1-0.dll
api-ms-win-core-interlocked-l1-1-0.dll
api-ms-win-core-libraryloader-l1-1-0.dll
api-ms-win-core-localization-l1-2-0.dll
api-ms-win-core-memory-l1-1-0.dll
api-ms-win-core-namedpipe-l1-1-0.dll
api-ms-win-core-processenvironment-l1-1-0.dll
api-ms-win-core-processthreads-l1-1-0.dll
api-ms-win-core-processthreads-l1-1-1.dll
api-ms-win-core-profile-l1-1-0.dll
api-ms-win-core-rtlsupport-l1-1-0.dll
api-ms-win-core-string-l1-1-0.dll
api-ms-win-core-synch-l1-1-0.dll
api-ms-win-core-synch-l1-2-0.dll
api-ms-win-core-sysinfo-l1-1-0.dll
api-ms-win-core-sysinfo-l1-2-0.dll
api-ms-win-core-timezone-l1-1-0.dll
api-ms-win-core-util-l1-1-0.dll
api-ms-win-crt-conio-l1-1-0.dll
api-ms-win-crt-convert-l1-1-0.dll
api-ms-win-crt-environment-l1-1-0.dll
api-ms-win-crt-filesystem-l1-1-0.dll
api-ms-win-crt-heap-l1-1-0.dll
api-ms-win-crt-locale-l1-1-0.dll
api-ms-win-crt-math-l1-1-0.dll
api-ms-win-crt-multibyte-l1-1-0.dll
api-ms-win-crt-private-l1-1-0.dll
api-ms-win-crt-process-l1-1-0.dll
api-ms-win-crt-runtime-l1-1-0.dll
api-ms-win-crt-stdio-l1-1-0.dll
api-ms-win-crt-string-l1-1-0.dll
api-ms-win-crt-time-l1-1-0.dll
api-ms-win-crt-utility-l1-1-0.dll
api-ms-win-downlevel-kernel32-l2-1-0.dll
api-ms-win-eventing-provider-l1-1-0.dll
botan.dll
cfx_curl_x86_64.dll
citizen-devtools.dll
citizen-resources-core.dll
citizen-resources-metadata-lua.dll
citizen-scripting-core.dll
citizen-scripting-lua.dll
citizen-scripting-lua54.dll
citizen-scripting-mono.dll
citizen-scripting-v8node.dll
citizen-server-fxdk.dll
citizen-server-gui.dll
citizen-server-impl.dll
citizen-server-instance.dll
citizen-server-main.dll
citizen-server-monitor.dll
citizen-server-net.dll
citizen-server-state-fivesv.dll
citizen-server-state-rdr3sv.dll
citizen/clr2/cfg/mono/4.5/machine.config
citizen/clr2/lib/mono/4.5/CitizenFX.Core.dll
citizen/clr2/lib/mono/4.5/CitizenFX.Core.pdb
citizen/clr2/lib/mono/4.5/CitizenFX.Core.Server.dll
citizen/clr2/lib/mono/4.5/CitizenFX.Core.Server.sym
citizen/clr2/lib/mono/4.5/CitizenFX.Core.sym
citizen/clr2/lib/mono/4.5/CitizenFX.Core.xml
citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Registry.AccessControl.dll
citizen/clr2/lib/mono/4.5/Facades/Microsoft.Win32.Registry.dll
citizen/clr2/lib/mono/4.5/Facades/Mono.Data.Sqlite.dll
citizen/clr2/lib/mono/4.5/Facades/netstandard.dll
citizen/clr2/lib/mono/4.5/Facades/System.AppContext.dll
citizen/clr2/lib/mono/4.5/Facades/System.Collections.Concurrent.dll
citizen/clr2/lib/mono/4.5/Facades/System.Collections.dll
citizen/clr2/lib/mono/4.5/Facades/System.Collections.NonGeneric.dll
citizen/clr2/lib/mono/4.5/Facades/System.Collections.Specialized.dll
citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Annotations.dll
citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Composition.dll
citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.dll
citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.EventBasedAsync.dll
citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/System.ComponentModel.TypeConverter.dll
citizen/clr2/lib/mono/4.5/Facades/System.Console.dll
citizen/clr2/lib/mono/4.5/Facades/System.Data.Common.dll
citizen/clr2/lib/mono/4.5/Facades/System.Data.SqlClient.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Contracts.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Debug.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.FileVersionInfo.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Process.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.StackTrace.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TextWriterTraceListener.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Tools.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TraceEvent.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.TraceSource.dll
citizen/clr2/lib/mono/4.5/Facades/System.Diagnostics.Tracing.dll
citizen/clr2/lib/mono/4.5/Facades/System.Drawing.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/System.Dynamic.Runtime.dll
citizen/clr2/lib/mono/4.5/Facades/System.Globalization.Calendars.dll
citizen/clr2/lib/mono/4.5/Facades/System.Globalization.dll
citizen/clr2/lib/mono/4.5/Facades/System.Globalization.Extensions.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.Compression.ZipFile.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.AccessControl.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.DriveInfo.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.FileSystem.Watcher.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.IsolatedStorage.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.MemoryMappedFiles.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.Pipes.dll
citizen/clr2/lib/mono/4.5/Facades/System.IO.UnmanagedMemoryStream.dll
citizen/clr2/lib/mono/4.5/Facades/System.Linq.dll
citizen/clr2/lib/mono/4.5/Facades/System.Linq.Expressions.dll
citizen/clr2/lib/mono/4.5/Facades/System.Linq.Parallel.dll
citizen/clr2/lib/mono/4.5/Facades/System.Linq.Queryable.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.AuthenticationManager.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Cache.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Http.Rtc.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.HttpListener.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Mail.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.NameResolution.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.NetworkInformation.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Ping.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Requests.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Security.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.ServicePoint.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Sockets.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.Utilities.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.WebHeaderCollection.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.WebSockets.Client.dll
citizen/clr2/lib/mono/4.5/Facades/System.Net.WebSockets.dll
citizen/clr2/lib/mono/4.5/Facades/System.ObjectModel.dll
citizen/clr2/lib/mono/4.5/Facades/System.Reflection.dll
citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.dll
citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.ILGeneration.dll
citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Emit.Lightweight.dll
citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Extensions.dll
citizen/clr2/lib/mono/4.5/Facades/System.Reflection.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/System.Reflection.TypeExtensions.dll
citizen/clr2/lib/mono/4.5/Facades/System.Resources.Reader.dll
citizen/clr2/lib/mono/4.5/Facades/System.Resources.ReaderWriter.dll
citizen/clr2/lib/mono/4.5/Facades/System.Resources.ResourceManager.dll
citizen/clr2/lib/mono/4.5/Facades/System.Resources.Writer.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.CompilerServices.VisualC.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Extensions.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Handles.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.InteropServices.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.InteropServices.WindowsRuntime.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Numerics.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Formatters.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Json.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/System.Runtime.Serialization.Xml.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.AccessControl.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Claims.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Algorithms.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Csp.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.DeriveBytes.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encoding.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.Aes.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.ECDiffieHellman.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Encryption.ECDsa.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Hashing.Algorithms.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Hashing.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.ProtectedData.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.RandomNumberGenerator.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.RSA.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Cryptography.X509Certificates.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Principal.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.Principal.Windows.dll
citizen/clr2/lib/mono/4.5/Facades/System.Security.SecureString.dll
citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Duplex.dll
citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Http.dll
citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.NetTcp.dll
citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Primitives.dll
citizen/clr2/lib/mono/4.5/Facades/System.ServiceModel.Security.dll
citizen/clr2/lib/mono/4.5/Facades/System.ServiceProcess.dll
citizen/clr2/lib/mono/4.5/Facades/System.ServiceProcess.ServiceController.dll
citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.CodePages.dll
citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.dll
citizen/clr2/lib/mono/4.5/Facades/System.Text.Encoding.Extensions.dll
citizen/clr2/lib/mono/4.5/Facades/System.Text.RegularExpressions.dll
citizen/clr2/lib/mono/4.5/Facades/System.Threading.AccessControl.dll
citizen/clr2/lib/mono/4.5/Facades/System.Threading.dll
citizen/clr2/lib/mono/4.5/Facades/System.Threading.Overlapped.dll
citizen/clr2/lib/mono/4.5/Facades/System.Threading.Tasks.dll
citizen/clr2/lib/mono/4.5/Facades/System.Threading.Tasks.Parallel.dll
citizen/clr2/lib/mono/4.5/Facades/System.Threading.Thread.dll
citizen/clr2/lib/mono/4.5/Facades/System.Threading.ThreadPool.dll
citizen/clr2/lib/mono/4.5/Facades/System.Threading.Timer.dll
citizen/clr2/lib/mono/4.5/Facades/System.ValueTuple.dll
citizen/clr2/lib/mono/4.5/Facades/System.Xml.ReaderWriter.dll
citizen/clr2/lib/mono/4.5/Facades/System.Xml.XDocument.dll
citizen/clr2/lib/mono/4.5/Facades/System.Xml.XmlDocument.dll
citizen/clr2/lib/mono/4.5/Facades/System.Xml.XmlSerializer.dll
citizen/clr2/lib/mono/4.5/Facades/System.Xml.XPath.dll
citizen/clr2/lib/mono/4.5/Facades/System.Xml.XPath.XDocument.dll
citizen/clr2/lib/mono/4.5/Facades/System.Xml.Xsl.Primitives.dll
citizen/clr2/lib/mono/4.5/I18N.CJK.dll
citizen/clr2/lib/mono/4.5/I18N.dll
citizen/clr2/lib/mono/4.5/I18N.MidEast.dll
citizen/clr2/lib/mono/4.5/I18N.Other.dll
citizen/clr2/lib/mono/4.5/I18N.Rare.dll
citizen/clr2/lib/mono/4.5/I18N.West.dll
citizen/clr2/lib/mono/4.5/Microsoft.CSharp.dll
citizen/clr2/lib/mono/4.5/Mono.CSharp.dll
citizen/clr2/lib/mono/4.5/Mono.Posix.dll
citizen/clr2/lib/mono/4.5/Mono.Security.dll
citizen/clr2/lib/mono/4.5/Mono.Security.Win32.dll
citizen/clr2/lib/mono/4.5/mscorlib.dll
citizen/clr2/lib/mono/4.5/MsgPack.dll
citizen/clr2/lib/mono/4.5/MsgPack.sym
citizen/clr2/lib/mono/4.5/MsgPack.xml
citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.dll
citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.pdb
citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.sym
citizen/clr2/lib/mono/4.5/ref/CitizenFX.Core.Server.xml
citizen/clr2/lib/mono/4.5/System.Collections.Immutable.dll
citizen/clr2/lib/mono/4.5/System.Collections.Immutable.sym
citizen/clr2/lib/mono/4.5/System.ComponentModel.DataAnnotations.dll
citizen/clr2/lib/mono/4.5/System.Configuration.dll
citizen/clr2/lib/mono/4.5/System.Core.dll
citizen/clr2/lib/mono/4.5/System.Data.dll
citizen/clr2/lib/mono/4.5/System.dll
citizen/clr2/lib/mono/4.5/System.Drawing.dll
citizen/clr2/lib/mono/4.5/System.EnterpriseServices.dll
citizen/clr2/lib/mono/4.5/System.IO.Compression.dll
citizen/clr2/lib/mono/4.5/System.IO.Compression.FileSystem.dll
citizen/clr2/lib/mono/4.5/System.Management.dll
citizen/clr2/lib/mono/4.5/System.Net.dll
citizen/clr2/lib/mono/4.5/System.Net.Http.dll
citizen/clr2/lib/mono/4.5/System.Net.Http.WebRequest.dll
citizen/clr2/lib/mono/4.5/System.Numerics.dll
citizen/clr2/lib/mono/4.5/System.Numerics.Vectors.dll
citizen/clr2/lib/mono/4.5/System.Reflection.Metadata.dll
citizen/clr2/lib/mono/4.5/System.Reflection.Metadata.sym
citizen/clr2/lib/mono/4.5/System.Runtime.InteropServices.RuntimeInformation.dll
citizen/clr2/lib/mono/4.5/System.Runtime.Serialization.dll
citizen/clr2/lib/mono/4.5/System.ServiceModel.dll
citizen/clr2/lib/mono/4.5/System.ServiceModel.Internals.dll
citizen/clr2/lib/mono/4.5/System.Transactions.dll
citizen/clr2/lib/mono/4.5/System.Web.dll
citizen/clr2/lib/mono/4.5/System.Xml.dll
citizen/clr2/lib/mono/4.5/System.Xml.Linq.dll
citizen/scripting/lua/deferred.lua
citizen/scripting/lua/graph.lua
citizen/scripting/lua/json.lua
citizen/scripting/lua/MessagePack.lua
citizen/scripting/lua/natives_loader.lua
citizen/scripting/lua/natives_server.lua
citizen/scripting/lua/natives_server.zip
citizen/scripting/lua/scheduler.lua
citizen/scripting/resource_init.lua
citizen/scripting/rpc_natives.json
citizen/scripting/v8/.gitattributes
citizen/scripting/v8/9.3/icudtl.dat
citizen/scripting/v8/9.3/icudtl_extra.dat
citizen/scripting/v8/9.3/snapshot_blob.bin
citizen/scripting/v8/console.js
citizen/scripting/v8/eventemitter2.js
citizen/scripting/v8/index.d.ts
citizen/scripting/v8/main.js
citizen/scripting/v8/msgpack.js
citizen/scripting/v8/natives_blob.bin
citizen/scripting/v8/natives_server.d.ts
citizen/scripting/v8/natives_server.js
citizen/scripting/v8/timer.js
citizen/system_resources/monitor/core/index.js
citizen/system_resources/monitor/docs/banner.png
citizen/system_resources/monitor/docs/cache_wiping.md
citizen/system_resources/monitor/docs/custom_serverlog.md
citizen/system_resources/monitor/docs/dev_notes.md
citizen/system_resources/monitor/docs/development.md
citizen/system_resources/monitor/docs/events.md
citizen/system_resources/monitor/docs/feature_graveyard.md
citizen/system_resources/monitor/docs/logs.md
citizen/system_resources/monitor/docs/menu.md
citizen/system_resources/monitor/docs/newPlayerlist.md
citizen/system_resources/monitor/docs/permissions.md
citizen/system_resources/monitor/docs/recipe.md
citizen/system_resources/monitor/docs/translation.md
citizen/system_resources/monitor/docs/troubleshooting.md
citizen/system_resources/monitor/docs/zaphosting.png
citizen/system_resources/monitor/entrypoint.js
citizen/system_resources/monitor/fxmanifest.lua
citizen/system_resources/monitor/LICENSE
citizen/system_resources/monitor/nui/images/txadmin.png
citizen/system_resources/monitor/nui/index.css
citizen/system_resources/monitor/nui/index.html
citizen/system_resources/monitor/nui/index.js
citizen/system_resources/monitor/nui/sounds/warning_open.mp3
citizen/system_resources/monitor/nui/sounds/warning_pulse.mp3
citizen/system_resources/monitor/README.md
citizen/system_resources/monitor/resource/cl_logger.lua
citizen/system_resources/monitor/resource/cl_main.lua
citizen/system_resources/monitor/resource/cl_playerlist.lua
citizen/system_resources/monitor/resource/menu/client/cl_base.lua
citizen/system_resources/monitor/resource/menu/client/cl_freeze.lua
citizen/system_resources/monitor/resource/menu/client/cl_functions.lua
citizen/system_resources/monitor/resource/menu/client/cl_main_page.lua
citizen/system_resources/monitor/resource/menu/client/cl_misc.lua
citizen/system_resources/monitor/resource/menu/client/cl_player_ids.lua
citizen/system_resources/monitor/resource/menu/client/cl_player_mode.lua
citizen/system_resources/monitor/resource/menu/client/cl_spectate.lua
citizen/system_resources/monitor/resource/menu/client/cl_trollactions.lua
citizen/system_resources/monitor/resource/menu/client/cl_webpipe.lua
citizen/system_resources/monitor/resource/menu/server/sv_base.lua
citizen/system_resources/monitor/resource/menu/server/sv_freeze_player.lua
citizen/system_resources/monitor/resource/menu/server/sv_functions.lua
citizen/system_resources/monitor/resource/menu/server/sv_main_page.lua
citizen/system_resources/monitor/resource/menu/server/sv_player_modal.lua
citizen/system_resources/monitor/resource/menu/server/sv_player_mode.lua
citizen/system_resources/monitor/resource/menu/server/sv_spectate.lua
citizen/system_resources/monitor/resource/menu/server/sv_trollactions.lua
citizen/system_resources/monitor/resource/menu/server/sv_webpipe.lua
citizen/system_resources/monitor/resource/menu/shared.lua
citizen/system_resources/monitor/resource/menu/vendor/freecam/camera.lua
citizen/system_resources/monitor/resource/menu/vendor/freecam/config.lua
citizen/system_resources/monitor/resource/menu/vendor/freecam/INFO.txt
citizen/system_resources/monitor/resource/menu/vendor/freecam/LICENSE.txt
citizen/system_resources/monitor/resource/menu/vendor/freecam/main.lua
citizen/system_resources/monitor/resource/menu/vendor/freecam/utils.lua
citizen/system_resources/monitor/resource/sv_admins.lua
citizen/system_resources/monitor/resource/sv_logger.lua
citizen/system_resources/monitor/resource/sv_main.lua
citizen/system_resources/monitor/resource/sv_playerlist.lua
citizen/system_resources/monitor/resource/sv_resources.lua
citizen/system_resources/monitor/web/main/adminManager.ejs
citizen/system_resources/monitor/web/main/advanced.ejs
citizen/system_resources/monitor/web/main/cfgEditor.ejs
citizen/system_resources/monitor/web/main/console.ejs
citizen/system_resources/monitor/web/main/dashboard.ejs
citizen/system_resources/monitor/web/main/diagnostics.ejs
citizen/system_resources/monitor/web/main/masterActions.ejs
citizen/system_resources/monitor/web/main/message.ejs
citizen/system_resources/monitor/web/main/playerList.ejs
citizen/system_resources/monitor/web/main/resources.ejs
citizen/system_resources/monitor/web/main/serverLog.ejs
citizen/system_resources/monitor/web/main/settings.ejs
citizen/system_resources/monitor/web/main/txAdminLog.ejs
citizen/system_resources/monitor/web/parts/adminModal.ejs
citizen/system_resources/monitor/web/parts/changePasswordModal.ejs
citizen/system_resources/monitor/web/parts/footer.ejs
citizen/system_resources/monitor/web/parts/header.ejs
citizen/system_resources/monitor/web/parts/playerInfoModal.ejs
citizen/system_resources/monitor/web/public/css/codemirror.css
citizen/system_resources/monitor/web/public/css/codemirror_lucario.css
citizen/system_resources/monitor/web/public/css/coreui.css
citizen/system_resources/monitor/web/public/css/coreui.min.css
citizen/system_resources/monitor/web/public/css/dark.css
citizen/system_resources/monitor/web/public/css/dark.css.map
citizen/system_resources/monitor/web/public/css/dark.scss
citizen/system_resources/monitor/web/public/css/foldgutter.css
citizen/system_resources/monitor/web/public/css/jquery-confirm.min.css
citizen/system_resources/monitor/web/public/css/simple-line-icons.css
citizen/system_resources/monitor/web/public/css/txAdmin.css
citizen/system_resources/monitor/web/public/fonts/Simple-Line-Icons.svg
citizen/system_resources/monitor/web/public/fonts/Simple-Line-Icons.ttf
citizen/system_resources/monitor/web/public/fonts/Simple-Line-Icons.woff
citizen/system_resources/monitor/web/public/fonts/Simple-Line-Icons.woff2
citizen/system_resources/monitor/web/public/img/coreui_icons-full.svg
citizen/system_resources/monitor/web/public/img/coreui_icons.svg
citizen/system_resources/monitor/web/public/img/default_avatar.png
citizen/system_resources/monitor/web/public/img/favicon_default.png
citizen/system_resources/monitor/web/public/img/favicon_offline.png
citizen/system_resources/monitor/web/public/img/favicon_online.png
citizen/system_resources/monitor/web/public/img/favicon_partial.png
citizen/system_resources/monitor/web/public/img/tx.png
citizen/system_resources/monitor/web/public/img/txadmin.png
citizen/system_resources/monitor/web/public/img/txadmin_beta.png
citizen/system_resources/monitor/web/public/img/txSnaily2anim_320.png
citizen/system_resources/monitor/web/public/img/zap256_black.png
citizen/system_resources/monitor/web/public/img/zap256_white.png
citizen/system_resources/monitor/web/public/js/ansi_up.js
citizen/system_resources/monitor/web/public/js/bootstrap-notify.min.js
citizen/system_resources/monitor/web/public/js/codeEditor/codemirror.js
citizen/system_resources/monitor/web/public/js/codeEditor/mode/fivem-cfg.js
citizen/system_resources/monitor/web/public/js/codeEditor/mode/simple.js
citizen/system_resources/monitor/web/public/js/codeEditor/mode/yaml.js
citizen/system_resources/monitor/web/public/js/coreui.bundle.min.js
citizen/system_resources/monitor/web/public/js/jquery-confirm.min.js
citizen/system_resources/monitor/web/public/js/txadmin/base.js
citizen/system_resources/monitor/web/public/js/txadmin/chart.js
citizen/system_resources/monitor/web/public/js/txadmin/main.js
citizen/system_resources/monitor/web/public/js/txadmin/players.js
citizen/system_resources/monitor/web/standalone/404.ejs
citizen/system_resources/monitor/web/standalone/deployer.ejs
citizen/system_resources/monitor/web/standalone/login.ejs
citizen/system_resources/monitor/web/standalone/setup.ejs
components.json
concrt140.dll
conhost-server.dll
CoreRT.dll
debug-script.dll
devcon.dll
ETWProviders64.dll
FXServer.exe
http-client.dll
imgui.dll
libmono-btls-shared.dll
libuv.dll
mono-2.0-dac-sgen.dll
mono-2.0-sgen.dll
MonoPosixHelper.dll
msvcp140.dll
msvcp140_1.dll
msvcp140_2.dll
msvcp140_atomic_wait.dll
msvcp140_codecvt_ids.dll
net-base.dll
net-http-server.dll
net-tcp-server.dll
nng.dll
node.dll
resources.cfg
resources/\[qpixel-resources\]/qpixel-phone/fxmanifest.lua
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apartment.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/apartment.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/bank_busters.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/business.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/calculator.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/debt.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/diamond.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/documents.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/doj.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/groups.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/notification.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/phone_events.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/phone_html.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/race.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/script.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/sms.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/twatter.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/wenmo.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/apps/yp.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/bank_busters.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/business.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/calculator.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/debt.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/debt.min.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/events.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/groups.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/html.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/mkdwn.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/mui.min.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/notification.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/package-lock.json
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/package.json
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/race.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/script.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/sms.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/stylesheet.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/twatter.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/wallpapers.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/wenmo.js
resources/\[qpixel-resources\]/qpixel-phone/html/js/phone/yp.js
resources/\[qpixel-resources\]/qpixel-phone/html/ui.html
resources/\[qpixel-resources\]/qpixel-phone/mercy-phone.code-workspace
scrbind-base.dll
scripting-server.dll
server-tls.crt
server-tls.key
server.cfg
ServerQ-Pixel20.bat
svadhesive.dll
ucrtbase.dll
v8-9.3.345.16.dll
vccorlib140.dll
vcruntime140.dll
vcruntime140_1.dll
vfs-core.dll
vfs-impl-server.dll
voip-server-mumble.dll
